/* inherited from previous years */
body {font-family:sans-serif}

h1 {font-size:x-large; color:navy; margin-bottom:1em}
h2 {font-size:large; font-weight:bold; color:navy; margin-top:1em; margin-bottom:0.3em}
h3 {font-size:medium; font-weight:normal; margin-top:0.5em; margin-bottom:0.2em; color:navy}

table, th, td {padding-right:20px; padding-left:0; padding-top:5px; padding-bottom:5px; border-collapse:collapse; text-align:left; vertical-align:top}

ul {list-style-type: none; margin-top:.3em; margin-bottom:0; margin-left:0; padding-left:0}

/* details */
summary {color: #0000EE}

/* try to collapse sensibly into a single column on narrow displays */
@media all and (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  tr { 
    border-bottom: solid;
    border-width: 1px 0;
  }
}
